{% extends "groupmood/base.html" %}
{% block content %}
<h1>Meeting #{{ meeting.id }}</h1>
<dl>
	<dt>Name</dt>
	<dd>{{ meeting.name }}</dd>
	<dt>URL für die Meeting-Teilnehmer</dt>
	<dd>
		<a href="#qr-attendees">{{ attendeeAppURL|iriencode }}</a>
	</dd>
	<dt>Topics</dt>
	<dd>
	{% if meeting.topic_set %}
	{% for topic in meeting.topic_set.all %}
	{% if forloop.first %}
	<ul>
	{% endif %}
		<li>
			<a href="/groupmood/topic/{{ topic.id}}">{{ topic.name }}</a>
		</li>
	{% if forloop.last %}
	</ul>
	{% endif %}
	{% endfor %}
	{% else %}
	No Topics, yet.
	{% endif %}
	</dd>
</dl>

<h2 id="qr-attendees">QRCode für Meeting-Teilnehmer</h2>
<div>
	<img src="http://chart.apis.google.com/chart?chs=400x400&amp;chld=L&amp;cht=qr&amp;chl={{ attendeeAppURL|iriencode }}" alt="QRCode für Meeting-Teilnehmer" />
</div>
{% endblock %}
