{% extends "groupmood/base.html" %}
{% block content %}
<h1>Question #{{ question.id }}</h1>
<dl>
	<dt>Name</dt>
	<dd>{{ question.name }}</dd>
	<dt>Typ</dt>
	<dd>{{ question.type }}</dd>
	<dt>Mode</dt>
	<dd>{{ question.mode }}</dd>
	
	{% if question.type == "choice" %}
	<dt>AverageAnswers</dt>
	<dd>
		{% for averageAnswer in question.averageAnswers %}
		{% if forloop.first %}
		<ol>
		{% endif %}
			<li>{{ averageAnswer.answer }}: {{ averageAnswer.average }}% ({{ averageAnswer.numVotes }} Stimmen)</li>
		{% if forloop.last %}
		</ol>
		{% endif %}
		{% endfor %}
	</dd>
	{% endif %}
	
	{% if question.type == "range" %}
	<dt>AvgVote</dt>
	<dd>{{ question.avg }}</dd>
	{% endif %}
</dl>
{% if question.type == "range" %}
<form method="POST" action="/groupmood/question/{{ question.id }}/answers">
    <input type="range" min="{{ question.getMin }}" max="{{ question.getMax }}" name="answer" />
    <button type="submit">absenden</button>
</form>
{% endif %}
{% if question.type == "choice" %}
<h2>Antwort-Möglichkeiten</h2>
<dl>
<dt>Mindestens</dt>
<dd>{{ question.getMinChoices }}</dd>
<dt>Maximal</dt>
<dd>{{ question.getMaxChoices }}</dd>
</dl>
<form method="POST" action="/groupmood/question/{{ question.id }}/answers">
<p>
	{% if question.getMaxChoices == "1" %}
	{% for choice in question.choice_set.all %}
	<input type="radio" name="answer" value="{{ choice.name }}" id="choice-{{ choice.id }}" />
	<label for="choice-{{ choice.id }}">{{ choice.name }}</label>
	{% endfor %}	
	{% else %}
	{% for choice in question.choice_set.all %}
	<input type="checkbox" name="answer[]" value="{{ choice.name }}" id="choice-{{ choice.id }}" />
	<label for="choice-{{ choice.id }}">{{ choice.name }}</label>
	{% endfor %}
	{% endif %}
	</p>
	<button type="submit">absenden</button> 
</form>
{% endif %}
{% endblock %}
