{% extends "demoserver/base.html" %}
{% block content %}
<h1>Meeting #{{ meeting.id }}</h1>
{{ request.meta.HTTP_HOST }}
<img src="http://chart.apis.google.com/chart?chs=450x450&amp;chld=H&amp;cht=qr&amp;chl={{ appURL|iriencode }}" alt="qrcode"  />
<dl>
	<dt>Name</dt>
	<dd>{{ meeting.name }}</dd>
	<dt>AppURL</dt>
	<dd>{{ appURL|iriencode }}</dd>
	<dt>Topics</dt>
	<dd>
	{% if meeting.topic_set %}
	{% for topic in meeting.topic_set.all %}
	{% if forloop.first %}
	<ul>
	{% endif %}
		<li>
			<a href="/demoserver/topic/{{ topic.id}}">{{ topic.name }}</a>
		</li>
	{% if forloop.last %}
	</ul>
	{% endif %}
	{% endfor %}
	{% else %}
	No Topics, yet.
	{% endif %}
	</dd>
</dl>
{% endblock %}
