{% extends "demoserver/base.html" %}
{% block content %}
<h1>Meeting #{{ meeting.id }}</h1>
<dl>
	<dt>Name</dt>
	<dd>{{ meeting.name }}</dd>
	<dt>Number of Votes</dt>
	<dd>{{ meeting.numVotes }}</dd>
	<dt>Average Vote</dt>
	<dd>{{ meeting.avgVote }}</dd>
	<dt>Votes</dt>
	<dd>
	{% if meeting.moodvote_set %}
	{% for vote in meeting.moodvote_set.all %}
	{% if forloop.first %}
	<ul>
	{% endif %}
		<li>
			{{ vote.vote }}
		</li>
	{% if forloop.last %}
	</ul>
	{% endif %}
	{% endfor %}
	{% else %}
	No votes, yet.
	{% endif %}
	</dd>
</dl>
<form method="POST" action="/demoserver/meeting/1/vote">
    <input type="range" min="0" max="100" name="vote" />
    <button type="submit">absenden</button>
</form>
{% endblock %}
